/* general css */
html {
    margin-bottom: 0px;
    /* overflow-y: hidden; */
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: auto;
}

iframe {
    width: 725px;
    height: 725px;
    border: 0;
    display: inline-block;
}

.large-iframe {
    width: 1020px;
    height: 1020px;
    border: 0;
    display: inline-block;
}

.iframe-container {
    text-align: center;
}

h1 {
    font-size: 38px;
    margin-bottom: auto;
}

h2 {
    margin-bottom: auto;
    margin-top: 16px;
    font-size: 32px;
}

.h2-blog {
    margin-bottom: 16px;
    margin-top: 80px;
    font-size: 32px;
}

h3 {
    margin-bottom: auto;
    margin-top: 8px;
    font-size: 26px;
}

.h3-blog {
    margin-bottom: 16px;
    margin-top: 32px;
    font-size: 26px;
}

li {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 22px;
}

p {
    font-size: 22px;
}

/* home/header specific styling */
.title-container {
    padding-top: 45px;
    background-color: #20267b;
    display: flex;
    padding-right: 11vw;
    padding-left: 11vw;
}

.content-container {
    display: flex;
    flex-direction: column;
    padding-right: 11vw;
    padding-left: 11vw;
}

.home-title {
    padding-bottom: 5px;
    margin-top: auto;
    margin-bottom: 0px;
}

/* Button to open the menu */
.menu-button {
    font-size: 38px;
    padding-bottom: 5px;
    cursor: pointer;
    z-index: 2;
    background-color: #20267b;
    color: white;
    border: 0;
}

/* side menu styling */
.side-menu {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(32, 38, 123, 0.98);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 1;
}

.side-menu a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.side-menu a:hover {
    color: #f1f1f1;
}

.side-menu .close-button {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


/* blog list styling */
.blog-item {
    padding: 16px;
    border: 1px solid #ccc;
    margin: 8px;
    cursor: pointer;
    /* Change cursor to pointer to indicate clickability */
}

/* Add hover effect */
.blog-item:hover {
    background-color: #f2f2f2;
}

.blog-p-tag {
    margin-top: auto;
}

.caption {
    margin-top: auto;
    font-size: 18px;
    text-align: center;
}

.blog-img-container {
    text-align: center;
    margin-top: 45px;
    margin-bottom: 45px;
}

.multi-img {
    display: inline-block;
    margin-right: 10px;
    width: 530px;
    /* or any value you prefer */
    height: auto;
    /* maintain aspect ratio */
}

.bullet-list {
    margin-top: auto;
    font-size: 20px;
}


#toc-container {
    position: fixed;
    top: 120px;
    /* Adjust this value based on your header height */
    left: 0;
    width: 10vw;
}

#table-of-contents {
    display: flex;
    flex-direction: column;
}

#table-of-contents a {
    font-size: 14px;
    color: black;
}

#table-of-contents a.active {
    font-weight: bold;
    color: black;
}

#table-of-contents a:visited {
    color: black;
    /* This will inherit the color property from the parent element or a higher specificity selector */
}

#dataContainer {
    margin-top: 20px;
}

.table-scroll {
    width: 100%; /* Adjust this to your desired width */
    max-width: 78vw; /* Example fixed max width */
    overflow-x: auto;
    margin-top: 20px;
    border: 1px solid #ddd;
    max-height: 70vh;
}

table {
    width: 100%;
    border-collapse: collapse;
    max-width: 78vw; /* This should be greater than the table-scroll width to enable horizontal scrolling */
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    white-space: nowrap;
}

th {
    background-color: #f2f2f2;
}